#habilidades{
    padding-top: 10vh;
    position: relative;
}
#habilidades h2{
    text-align: center;
    text-decoration: none;
}
.abilitiesBox img{
    height: 50px;
    width: fit-content;
}
.abilitiesBox span{
   font-family: 'DM Sans', sans-serif;
}
.abilitiesBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vh;
    justify-content: center;
    width: 35vw;
    margin: 2vw;
    gap: 1vh;
    border-radius: 25px 5px 5px 5px;
    background-color: whitesmoke;
    border-bottom: #52796F 4px solid;
    box-shadow: 3px 3px 10px 5px #2F3E46;
}
#abilitiesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}