.navBar{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    padding: 0vw 2vw 0vw 2vw;
    border-bottom: 2px solid #84a98c;
    margin-bottom: 10px;
}
.menu{
    display: block;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}
.menu div{
    width: 20px;
    height: 2px;
    background-color: #899095;
    margin: 4px 0;
}

