:root{
    --body-bg: whitesmoke;
    --body-color: #555;
    --primariaP1: #2F3E46;
	--secudariaP1:#52796F;
    scroll-behavior: smooth;
}

.dark-mode:root{
    --body-bg: #212529;
    --body-color: #899095;
}

body{
    background-color: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0 ;
    z-index: 999;
}
main{
    height: 800vh;
}
footer{
    height: 10vh;
}

#projetos{
    padding-top: 10vh;
    background-color: var(--body-bg);;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-box{
    position: relative;
    margin-bottom: 3vh;
    width: 80vw;
    height: 30vh;
    border-radius: 10px;
    background-color: #354F52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


.project-box button{
    position: absolute;
}

.detailsLinks{
    display: none;
}
.detailsLinks img{
    height: 40px;
}
