:root{
    --body-bg: #212529;
    --body-color: #555;
    --primariaP1: #2F3E46;
	--secudariaP1:#52796F;
    --body-bg-rv: whitesmoke;
    scroll-behavior: smooth;
}
.dark-mode:root{
    --body-bg: whitesmoke;
    --body-color: #899095;
}

body{
    background-color: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0 ;
    z-index: 999;
}
main{
    height: 800vh;
}
footer{
    height: 10vh;
}
a:visited {
    color: var(--body-color);
}

#contacts{
    padding-top: 10vh;
}

#contacts h2{
    text-align: center;
}