body{
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}
header{
    padding: 0vw 2vw 0vw 2vw;
    height: 10vh;
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    background: #093028;
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    background: linear-gradient(to right, #237A57, #093028); 
}
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer{
    height: 10vh;
}
h1,h2{
    margin: 0;
    font-size: large;
}
h1{
    margin-left: 2vw;
}
h2{
    margin-top: 3;
    text-align: center;
}
#search{
    border: 1px solid whitesmoke;
    border-radius: 7px;
    background-color: whitesmoke;
    padding-bottom: 4px;
}

#logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#menuSearch{
    display: flex;
    align-items: center;
}
.livros img{
    height: 250px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: gray 1px 1px 7px;
    transition: .25s;
}
.livros div{
    padding: 1vh;
}
.livros{
    overflow-x: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85%;
}

img:hover{
    box-shadow: black 2px 2px 10px;
    transform: scale(1.09);
    transform: translate(0px, -10vh);
}
