*{
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
}
header{
    height: 10vh;
    display: flex;
    padding: 1vw 2vw;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(238, 238, 238);

}
header a{
    text-decoration: none;
    color: black;
}
main{
    height: 80vh;
}
footer{
    height: 10vh;
}

#head-menu{
    display: flex;
    gap: 1rem;
    align-items: center ;
}

#head-menu p{
    margin: 0;
}
header h1{
    font-size: large;
}
#sala-opt{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    padding: 0 2vw;
}

.menuInit{
    width: 15%;
    height: 40%;
}
.edt-aluno-sala{
    width: 80%;
}

#cards{
    padding: 1vw 2vw;
    /* height: 70vh; */
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 18vw;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px gray;
}

.card-img-top2{
    height: 200px;
    width: fit-content;
    border-radius: 20px;
}

.cadPage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
#userImg{
    border-radius: 20px;
    width: fit-content;
    height: 200px;
}
.modal-body{
    display: flex;
    padding: 0;
}

.forms{
    width: 80%;
}

#flImage{
    display: none;
}

#cad-sala{
    height: 40vh;
}
.cadastro{
    width: 40vw;
    height: 80vh;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px gray;
}
.cadastro2{
    width: 50vw;
    height: 60vh;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}