*{
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
}
header{
    height: 10vh;
    display: flex;
    padding: 1vw;
    justify-content: space-between;
}
main{
    height: 80vh;
}
footer{
    height: 10vh;
}

#head-menu{
    display: flex;
    gap: 1rem;
}
header h1{
    font-size: large;
}

#flImage{
    display: none;
}

#cad-aluno{
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: blue;
}