body{
    margin: 0;
    font-family: sans-serif;
}
p{
    margin: 0;
}
header{
    height: 6vh;
    margin: 2vh;
    background-color: lightblue;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 3px 3px 10px grey;
    border-radius: 10px;
}
main{
    height: 75vh;
    margin: 0vh 2vh 0vh 2vh;
    display: flex;
}
footer{
    background-color: lightblue;
    height: 7vh;
    margin: 2vh;
    box-shadow: 3px 3px 10px grey;
    border-radius: 10px;
}
header nav{
    background-color: lightgreen;
    height: 3vh;
    border-radius: 10px;
}
article{
    flex-grow: 3;
    background-color: lightgray;
    margin-right: 2vh;
    padding: 2vw 2vw 0vw 2vw;
    border-radius: 10px;
}
aside{
    background-color: lightpink;
    flex-grow: 1;
    padding: 2vw;
    border-radius: 10px;
}
section{
    background-color: lightgoldenrodyellow;
    margin: 10px 0px 10px 0px;
    height: 33vh;
    box-shadow: 3px 3px 10px #808080;
    border-radius: 10px;
}
.section{
    position: relative;
    height: 97%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
figure{
    height: 50vh;
    margin: 10px 0px 10px 0px;
    background-color: lightseagreen;
    box-shadow: 3px 3px 10px grey;
    border-radius: 10px;
}

